body {
    font-family: 'Poppins', sans-serif;
    margin: 5px;
}

.top-banner {
    width: 1500px;
    height: 400px;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-size: cover;

}

.heading {
    text-align: center;
    justify-items: center;
    color: red;
    padding-top: 100px;

}

.sub-heading {
    color: yellow;
    font-size: medium;
}

.donate {

    color: red;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: bold;
    border: 10px solid;
}

.part-2 {
    width: 1300px;
    height: 400px;
    background-size: 80vh;
    background-size: cover;
    margin-bottom: 50px;
}

.heading-02 {
    text-align: center;
}

.form-box {
    display: flex;
    justify-content: space-evenly;
    background: none;

    margin: 10px 15px width: 20px;
    height: 100px;

}

#box-1 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-2 {
    background: orange;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-3 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-4 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-5 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.other-amount {
    text-align: center;
    color: blue;
}

.Donate-link {
    color: red;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: bold;
    border-style: solid;
}

.heading-plan {
    text-align: center;
    color: black;
    margin-bottom: 50px;
}

.segmant {
    display: flex;
    justify-content: center;

}

#Food {
    border-style: solid;
    margin-right: 20px;
    background-color: gainsboro;
    text-align: justify;

}

#Shelter {
    border-style: solid;
    margin-right: 20px;
    background-color: aquamarine;
    text-align: justify;
}

#Education {
    border-style: solid;
    margin-right: 20px;
    background-color: antiquewhite;
    text-align: justify;
}

.part-4 {
    margin-top: 150px;
}

.depent {
    display: flex;


}

.flex-left {
    margin-left: 20px;
    margin-right: 10px;
}

.Contribute {
    color: blue;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: bold;
    border-style: solid;
}

.part-05 {
    margin-top: 50px;
}

.heading-update {
    text-align: center;
}

.email {
    display: flex;
    justify-content: space-evenly;
    border: 20px 40px;
    border-color: red;
    background-color: aquamarine;
    margin-left: 100px;
    margin-right: 100px;
    width: 800px;
    height: 50px;
    border: 50px solid yellow;
}

.part-06 {
    margin-top: 100px;

}

.footer {
    text-align: center;
    background-color: black;
    color: red;

}