body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.top-banner {
    width: 1500px;
    height: 400px;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-size: cover;

}

.heading {
    text-align: center;
    justify-items: center;
    color: red;

}

.donate {
    color: orange;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: bold;
    border: 10px solid;
}

.part-2 {
    width: 1300px;
    height: 400px;
    background-size: 80vh;
    background-size: cover;
    margin-bottom: 50px;
}

.heading-02 {
    text-align: center;
}

.form-box {
    display: flex;
    justify-content: space-evenly;
    background: none;

    margin: 10px 15px width: 20px;
    height: 100px;

}

#box-1 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-2 {
    background: orange;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-3 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-4 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#box-5 {
    background: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.other-amount {
    text-align: center;
    color: blue;
}

.Donate-link {
    color: red;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: bold;
    border-style: solid;
}